LFP_API_BASE_URL=https://plan.interojo.net
LFP_PRODUCTION_LIMIT=100000
LFP_HTTP_TIMEOUT_SECONDS=180
LFP_APS_POLL_SECONDS=60
LFP_BOM_POLL_SECONDS=600
LFP_COLLECTION_TIMEOUT_SECONDS=900
LFP_SNAPSHOT_RETENTION=48

PGHOST=your-db-host
PGPORT=5432
PGDATABASE=sangho_db
PGUSER=your_user
PGPASSWORD=your_password
PGCONNECT_TIMEOUT=15
